USE [master]
GO
/****** Object:  Database [Desafio]    Script Date: 8/7/2021 2:32:54 PM ******/
CREATE DATABASE [Desafio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Desafio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Desafio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Desafio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Desafio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Desafio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Desafio]
GO
/****** Object:  Table [dbo].[Lojas]    Script Date: 8/7/2021 2:32:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lojas](
	[id] [bigint] NOT NULL,
	[nome] [varchar](19) NULL,
	[proprietarioId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimentos]    Script Date: 8/7/2021 2:32:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimentos](
	[id] [bigint] NOT NULL,
	[valor] [float] NULL,
	[data] [datetime] NULL,
	[hora] [varchar](10) NULL,
	[cartao] [varchar](12) NULL,
	[transacaoId] [bigint] NULL,
	[lojaId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 8/7/2021 2:32:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[id] [bigint] NOT NULL,
	[nome] [varchar](14) NULL,
	[cpf] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transacoes]    Script Date: 8/7/2021 2:32:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacoes](
	[id] [bigint] NOT NULL,
	[descricao] [varchar](50) NULL,
	[natureza] [varchar](50) NULL,
	[sinal] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lojas]  WITH CHECK ADD FOREIGN KEY([proprietarioId])
REFERENCES [dbo].[Pessoas] ([id])
GO
ALTER TABLE [dbo].[Movimentos]  WITH CHECK ADD FOREIGN KEY([lojaId])
REFERENCES [dbo].[Lojas] ([id])
GO
ALTER TABLE [dbo].[Movimentos]  WITH CHECK ADD FOREIGN KEY([transacaoId])
REFERENCES [dbo].[Transacoes] ([id])
GO
USE [master]
GO
